.root {
    padding: 1rem;

    &:hover {
        padding: 2rem;
    }
}

.rootLarge {
    padding: 3rem;
}

:global(.globalClassName) {
    padding: 4rem;
}

.root :global(.globalClassName) {
    padding: 5rem;
}
